.book-header {
    color: $darkMain;
    padding: 25px 0;
    min-height: 20vh;

    h1 {
        margin-bottom: 45px;
    }

    form {
        width: 75%;
        margin-bottom: 45px;

        * {
            margin-bottom: 10px;
        }

    }

    a {
        transition: .3s;

        &:hover {
            color: darken($darkSec, .9);
            text-decoration: underline;
        }
    }

    h3 {
        font-weight: 400;
    }

}