* {
  box-sizing: border-box;
  outline-style: none;
  margin: 0;
  padding: 0;
  font-family: font1;
}

html {
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

input,
textarea {
  background-color: transparent;
  border: 2px solid $lightMain;
  padding: 5px;

  &:focus {
    filter: brightness(115%);
  }
}

input:not([type="date"]) {
  border: none;
  border-bottom: 2px solid $lightMain;
}



img {
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    filter: brightness(115%);
  }
}

label {
  font-weight: 700;
}

::placeholder {
  color: rgba($lightMain, 0.85);
}

h1 {
  font-size: 2em;
}

h1,
h2,
h3,
h4,
h5 {
  color: $darkMain;
}

p {
  color: $darkSec;
}

button {
  cursor: pointer;
  transition: 0.3s;
  background: transparent;
  border: 2px solid #d3d3d3;
  color: #d3d3d3;
  padding: 5px;
  font-size: 20px;

  &:hover {
    filter: brightness(115%);
  }
}

.bg-wrapper {
  background-color: #898989ad;
  ;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.bg {
  background: url(https://cdn.pixabay.com/photo/2016/01/27/04/32/books-1163695_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -2;
}

.topbtn {
  position: fixed;
  bottom: 15px;
  left: 15px;
  background-color: rgba($darkMain, 0.5);
  padding: 20px;
  border-radius: 50%;
  border: 1px solid rgb(167, 166, 166);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $lightMain;

  &:hover {
    background-color: rgba($darkMain, 1);

  }
}

//tooltip
[data-title] {
  position: relative;
}

[data-title]:hover:after {
  content: attr(data-title);
  position: absolute;
  top: 175%;
  left: 25px;
  font-size: 1rem;
  width: max-content;
  padding: 5px 10px;
  color: #f1f1f1;
  background-color: rgba(#333333, 0.65);
  border-radius: 5px;
  animation: title-animation 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  z-index: 999;
}